body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

input[type="number"] {
    padding: 10px;
    margin-bottom: 10px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #940e0e;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#heslo {
    font-size: 1.2em;
    margin-top: 20px;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

input[type="number"],
button {
    animation: slideInFromLeft 1s ease forwards;
}

#heslo {
    animation: slideInFromRight 1s ease forwards;
}


button, input[type="number"], #heslo {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
